@charset "UTF-8";
@font-face {
font-family: 'NPSfontBold';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
}
p
{
	padding: 10px;
}
.foot_line
{
    padding: 10px;
    line-height: 35px;
}

*
{
	font-family: 'NPSfontBold';
	padding: 0;
	margin: 0;
	outline: none;
}
.logo
{
	width: 250px;
	height: 290;
	margin: 0 auto;
	align-items: center;
	
}
#foot_company
{
	padding: 30px;
	padding-left: 400px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu { display:block; margin:0; }
.navback 
{
	background-color: #80BCBD;
	width: 100%;
	margin: 0 auto;
	align-items: center;
	display: flex;
	justify-content : center;
	
}
.navback a
{
	color: white;
}
.navback .c1
{
	color: #525CEB;
}
#carousel img 
{
	height: 300px;
}
.Contact
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.h_line
{		
    display: block;
    width: 50px;
    height: 3px;
    background: #002F5F;
    margin: 0 auto 10px;
}
.signup
{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.signupForm
{
	width: 500px;
}
.signupBtn
{
	padding-left: 160px;
}
.logintab
{
	width: 500px;	
	
}
.loginmain
{
	padding: 30px;
}







